* {
  box-sizing: border-box;
}

/* flex containers */
body,
header,
figure,
footer,
article,
.main-nav,
.wrapper-1,
.wrapper-2 {
  display: flex;
  flex-direction: column;
}
.end-nav {
  display: flex;
}

/* Style */
body {
  font-family: "Roboto", sans-serif;
}
header,
main,
article,
footer,
.end-nav {
  align-items: center;
}

header {
  margin-bottom: 0.25em;
}

.main-nav-button {
  margin: 0.25em;
  padding: 0.1em;
  color: black;
  border: 1px solid black;
}

figcaption,
p,
h2 {
  text-align: center;
}

figcaption {
  margin-top: 0.25em;
}

.end-nav {
  justify-content: space-between;
  width: 90vw;
}

img {
  max-width: 300px;
}
.end-nav-button {
  margin: 0.25em;
  padding: 0.1em;
  color: black;
  border: 1px solid black;
}
.end-section-mobile {
  border-top: 1px solid slategray;
}
/* media queries */
@media screen and (max-width: 767px) {
  .end-section-not-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  body,
  .all-cards,
  .wrapper-1,
  .wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  figure {
    display: flex;
    flex-direction: row-reverse;
  }
  figcaption {
    margin-top: 1em;
    margin-right: 0.5em;
  }
  .card {
    width: 300px;
    margin: 0 2.5vw;
  }
  .end-section-mobile {
    display: none;
  }
  .end-nav {
    display: flex;
    flex-direction: row;
    width: 95vw;
  }
  .nav-name {
    margin-right: auto;
  }
  .end-section-not-mobile {
    border-top: 1px solid slategray;
  }
}

@media screen and (min-width: 1024px) {
  .all-cards {
    display: flex;
    flex-direction: column;
  }
  .wrapper-1,
  .wrapper-2 {
    display: flex;
    flex-direction: row;
  }
  figure {
    display: flex;
    flex-direction: row-reverse;
  }
  .card {
    width: 300px;
    margin: 0 2.5vw;
  }
  header {
    display: flex;
    flex-direction: row;
    width: 95vw;
  }
  h1 {
    margin-right: auto;
  }
}
