* {
  box-sizing: border-box;
}

/* flex containers */
body,
header,
figure,
footer,
article,
.main-nav,
.wrapper-1,
.wrapper-2,
.last-div {
  display: flex;
  flex-direction: column;
}

.end-nav {
  display: flex;
}

/* Style */
body {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  background-color: black;
}

header,
main,
article,
footer,
.end-nav,
.last-div {
  align-items: center;
}

header {
  margin-bottom: 0.25em;
}

.main-nav-button,
.end-nav-button {
  font-weight: bold;
  margin: 0.25em;
  padding: 0.25em;
  color: black;
  border: 1px solid black;
  background-image: linear-gradient(gray, red);
}

figcaption,
p,
h2 {
  text-align: center;
}

figcaption {
  margin-top: 0.25em;
}

.end-nav {
  justify-content: space-between;
  width: 90vw;
}

img {
  max-width: 300px;
}

.end-section-mobile {
  border-top: 1px solid slategray;
}

h3 {
  font-family: "Open Sans", sans-serif;
}

.wrapper-1,
.wrapper-2 {
  margin: 0 auto;
}

.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.4;
  transition: all 0.5s;
}

.github {
  background-image: url(/images/github.svg);
}

/* media queries */
@media screen and (max-width: 767px) {
  .end-section-not-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  figure,
  body,
  .all-cards,
  .wrapper-1,
  .wrapper-2,
  .wrapper-3,
  .end-nav {
    display: flex;
  }

  .wrapper-3 {
    justify-content: center;
  }

  figure {
    flex-direction: row-reverse;
  }

  figcaption {
    margin-top: 1em;
    margin-right: 0.5em;
  }

  .card {
    width: 300px;
    margin: 0 2.5vw;
  }

  .end-section-mobile {
    display: none;
  }

  .end-nav {
    flex-direction: row;
    width: 95vw;
  }

  .nav-name {
    margin-right: auto;
  }

  .end-section-not-mobile {
    border-top: 1px solid slategray;
  }
}

@media screen and (min-width: 1024px) {
  header,
  figure,
  .all-cards,
  .wrapper-1,
  .wrapper-2,
  .wrapper-3 {
    display: flex;
  }

  .all-cards {
    flex-direction: column;
  }

  .wrapper-1,
  .wrapper-2 {
    flex-direction: row;
  }

  figure {
    flex-direction: row-reverse;
  }

  .card {
    width: 300px;
    margin: 0 0.5vw;
  }

  header {
    flex-direction: row;
    width: 95vw;
  }

  h1 {
    margin-right: auto;
  }
}
